@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-blur {
    filter: blur(80px);
    opacity: 0.6;
  }
}

html {
  scroll-behavior: smooth;
}

body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 font-body transition-colors duration-300;
}
